.Footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.FooterConentWrapper {
  text-align: center;
}

.PrivacyPolicy {
  text-align: center;
  color: black;
  font-size: small;
  text-decoration-line: none;
  opacity: 60%;
}

.PrivacyPolicySection {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}
