.ForOForDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #1a1b1f;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 90vh;
    margin: 30px;
}

.ForOForButton {
    background-color: white;
    color: #1a1b1f;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: large;
}

.ForOForButton:hover{
    cursor: pointer;
}

.Label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #1a1b1f;
    opacity: 60%;
  }
